<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!-- Sequenced after Magento_Webapi so its merged route config is available. -->
    <module name="Muon_ApiSchemaExport">
        <sequence>
            <module name="Magento_Webapi"/>
        </sequence>
    </module>
</config>
